@charset "UTF-8";
.header {
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
@media (max-width: 767px) {
  .header {
    margin-top: 43px;
    background: rgba(242, 120, 92, 0.1);
    box-shadow: none;
  }
}

.header__container {
  display: flex;
  align-items: center;
}
@media (max-width: 1230px) {
  .header__container {
    justify-content: space-between;
  }
}

.menu__list {
  display: flex;
  gap: 42px;
  margin: 35px auto 34px;
}
.menu__list .menu__link {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
@media (max-width: 1230px) {
  .menu__list {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .menu__list {
    flex-direction: column;
  }
}

.menu__item__hide {
  display: none;
}
@media (max-width: 767px) {
  .menu__item__hide {
    display: block;
  }
}

.header__button {
  margin-left: 196px;
}
@media (max-width: 1230px) {
  .header__button {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .header__button {
    display: none;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 27px;
    height: 16px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::after, .menu__icon::before {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::after, .menu__icon::before {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}

.header__logo {
  margin-right: 158px;
}
@media (max-width: 1230px) {
  .header__logo {
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .header__logo {
    flex: 0 0 30px;
    overflow: hidden;
  }
}

.btn {
  background-color: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  padding: 10px 30px;
}

.button__text {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #F2785C;
    padding: 44px 15px 30px 44px;
    transition: left 0.3s ease 0s;
  }
  .menu__body.active {
    left: 0;
  }
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Aleo;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}
@media (max-width: 1230px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  [class*=__container] {
    max-width: none;
  }
}