@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
@media (max-width: 767px) {
  .header {
    margin-top: 43px;
    background-color: transparent;
    box-shadow: none;
  }
}

.header__container {
  display: flex;
  align-items: center;
}
@media (max-width: 1230px) {
  .header__container {
    justify-content: space-between;
  }
}

.menu__list {
  display: flex;
  gap: 42px;
  margin: 35px auto 34px;
}
.menu__list .menu__link {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
@media (max-width: 1230px) {
  .menu__list {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .menu__list {
    flex-direction: column;
  }
}

.menu__item__hide {
  display: none;
}
@media (max-width: 767px) {
  .menu__item__hide {
    display: block;
  }
}

.header__button {
  margin-left: 196px;
}
@media (max-width: 1230px) {
  .header__button {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .header__button {
    display: none;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 27px;
    height: 16px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::after, .menu__icon::before {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::after, .menu__icon::before {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}

.header__logo {
  margin-right: 158px;
}
@media (max-width: 1230px) {
  .header__logo {
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .header__logo {
    flex: 0 0 30px;
    overflow: hidden;
  }
}

.btn {
  background-color: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}

.header__button {
  padding: 10px 30px;
}

.header__btn__text {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #F2785C;
    padding: 44px 15px 30px 44px;
    transition: left 0.3s ease 0s;
  }
  .menu__body.active {
    left: 0;
  }
}

.intro {
  background: url(../img/intro_bg.png) no-repeat center;
  background-size: cover;
  padding-top: 122px;
  padding-bottom: 221px;
}
@media (max-width: 767px) {
  .intro {
    background-image: url("../img/intro_bg_small.png");
    padding-top: 142px;
    padding-bottom: 61px;
  }
}

.intro__content {
  max-width: 892px;
}

.intro__heading {
  font-family: "Aleo";
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  margin-bottom: 46px;
  color: #FFFFFF;
}
@media (max-width: 1230px) {
  .intro__heading {
    font-size: 65px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .intro__heading {
    display: none;
  }
}

.intro__text {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 46px;
}
@media (max-width: 767px) {
  .intro__text {
    display: none;
  }
}

.intro__search {
  position: relative;
}

input {
  outline: none;
  height: 95px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}
@media (max-width: 767px) {
  input {
    height: 48px;
  }
}

input::-moz-placeholder {
  color: #F2785C;
  font-family: Aleo;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-left: 41px;
}

input:-ms-input-placeholder {
  color: #F2785C;
  font-family: Aleo;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-left: 41px;
}

input::placeholder {
  color: #F2785C;
  font-family: Aleo;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-left: 41px;
}
@media (max-width: 767px) {
  input::-moz-placeholder {
    font-size: 14px;
    line-height: 17px;
    padding-left: 6px;
  }
  input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 17px;
    padding-left: 6px;
  }
  input::placeholder {
    font-size: 14px;
    line-height: 17px;
    padding-left: 6px;
  }
}

.intro__btn {
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 2;
  border: none;
  cursor: pointer;
  color: white;
  transform: translateX(2px);
  padding: 13.5px 32.5px;
}
@media (max-width: 767px) {
  .intro__btn {
    top: 9px;
    right: 9px;
    padding: 7.5px 9px;
  }
}

.intro__btn__text {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .intro__btn__text {
    font-size: 11px;
    line-height: 15px;
  }
}

.perfect_trip__content {
  text-align: center;
  margin: 80px auto 97px;
}
@media (max-width: 767px) {
  .perfect_trip__content {
    margin: 20px auto 20px;
  }
}

.section__heading {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
}
@media (max-width: 767px) {
  .section__heading {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }
}

.perfect_trip__items {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media (max-width: 1230px) {
  .perfect_trip__items {
    justify-content: space-between;
  }
}

.perfect_trip__item1 {
  flex: 1 1 33.33%;
}

.perfect_trip__item2 {
  flex: 1 1 33.33%;
}

.perfect_trip__item3 {
  flex: 1 1 33.33%;
}

.perfect_trip__item__img {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .perfect_trip__item__img {
    max-width: 70px;
    max-height: 70px;
    margin-bottom: 19px;
  }
}

.perfect_trip__item__text {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}
@media (max-width: 767px) {
  .perfect_trip__item__text {
    font-size: 10px;
    line-height: 12px;
  }
}

.popular_destinations {
  padding-bottom: 80px;
  text-align: center;
}
@media (max-width: 992px) {
  .popular_destinations {
    padding-bottom: 20px;
  }
}

.popular_destinations__slider__items {
  transition: all ease 2s;
  text-align: center;
  align-items: center;
  margin: 46px auto auto;
  max-width: 1440px;
  max-height: 800px;
  display: flex;
  gap: 60px;
  position: relative;
}
@media (max-width: 1300px) {
  .popular_destinations__slider__items {
    gap: 30px;
  }
}
@media (max-width: 992px) {
  .popular_destinations__slider__items {
    margin: 20px auto auto;
    position: relative;
    z-index: -1;
  }
}

.popular_destinations__slider__item {
  position: relative;
}
@media (max-width: 992px) {
  .popular_destinations__slider__item {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -180px;
  }
}

.center {
  left: -540px;
}
@media (max-width: 1300px) {
  .center {
    left: calc(-750px + 210 * (100vw - 993px) / 307);
  }
}
@media (max-width: 992px) {
  .center {
    left: 0;
  }
}

.left {
  left: 320px;
}
@media (max-width: 1300px) {
  .left {
    left: calc(20px + 300 * (100vw - 993px) / 307);
  }
}
@media (max-width: 992px) {
  .left {
    left: 0;
  }
}

.right {
  left: -1400px;
}
@media (max-width: 1300px) {
  .right {
    left: calc(-1450px + 50 * (100vw - 993px) / 307);
  }
}
@media (max-width: 992px) {
  .right {
    left: 0;
  }
}

.hidden {
  display: none;
}

.popular_destinations__slider__img {
  border-radius: 16px;
}
@media (max-width: 992px) {
  .popular_destinations__slider__img {
    display: none;
  }
}

.popular_destinations__slider__img__sm {
  display: none;
}
@media (max-width: 992px) {
  .popular_destinations__slider__img__sm {
    display: block;
    border-radius: 16px;
  }
}

.popular_destinations__slider__text {
  position: absolute;
  z-index: 5;
  left: 15px;
  bottom: 40px;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}
@media (max-width: 992px) {
  .popular_destinations__slider__text {
    display: none;
  }
}

.popular_destinations__slider__btns {
  margin: 24px auto auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 992px) {
  .popular_destinations__slider__btns {
    margin-top: 190px;
    z-index: 999;
    gap: 22px;
  }
}

.dot {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 10px;
  transition: all ease 2s;
}
@media (max-width: 992px) {
  .dot {
    z-index: 999;
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
}

.active__dot {
  background: #F2785C;
}

.dot1, .dot2 {
  margin-right: 10px;
}
@media (max-width: 992px) {
  .dot1, .dot2 {
    margin-right: 6px;
  }
}

.btn_wrapper {
  display: inline-block;
}

.destinations__btn__text {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
@media (max-width: 992px) {
  .destinations__btn__text {
    font-size: 11px;
    line-height: 15px;
  }
}

.destinations__btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 9.5px 31px;
  gap: 10px;
}
@media (max-width: 992px) {
  .destinations__btn {
    gap: 6px;
    padding: 7.5px 12px;
  }
}

@media (max-width: 992px) {
  .btn__icon img {
    width: 10px;
    height: 10px;
  }
}

.travel_stories__container {
  text-align: center;
  z-index: 2;
}

.travel_stories {
  display: block;
  position: relative;
}
.travel_stories::after {
  content: "";
  background: url(../img/travel_bg.png) no-repeat center;
  background-size: cover;
  opacity: 0.5;
  top: 93px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
@media (max-width: 767px) {
  .travel_stories::after {
    top: 29px;
  }
}

.travel_stories__content {
  margin: 80px auto 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1230px) {
  .travel_stories__content {
    gap: calc(15px + 15 * (100vw - 390px) / 840);
  }
}
@media (max-width: 767px) {
  .travel_stories__content {
    margin: 10px auto 10px;
  }
}

.travel_story__content__item {
  display: flex;
  gap: 40px;
}
@media (max-width: 1230px) {
  .travel_story__content__item {
    gap: calc(10px + 30 * (100vw - 390px) / 840);
  }
}
@media (max-width: 391px) {
  .travel_story__content__item {
    max-height: 130px;
  }
}

.travel_story__content__img {
  box-shadow: 0px 4px 4px #0D606F;
  border-radius: 16px;
}
@media (max-width: 767px) {
  .travel_story__content__img {
    display: none;
  }
}

.travel_story__content__img__sm {
  display: none;
}
@media (max-width: 767px) {
  .travel_story__content__img__sm {
    display: block;
    box-shadow: 0px 4px 4px #0D606F;
    border-radius: 16px;
  }
}

.travel_story__content__block {
  text-align: left;
}

.travel_story__content__block__heading {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
  margin-bottom: 24px;
}
@media (max-width: 1230px) {
  .travel_story__content__block__heading {
    font-size: calc(11px + 24 * (100vw - 390px) / 840);
    line-height: calc(13px + 29 * (100vw - 390px) / 840);
    margin-bottom: calc(10px + 32 * (100vw - 390px) / 840);
  }
}

.travel_story__content__block__paragraph {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}
@media (max-width: 1230px) {
  .travel_story__content__block__paragraph {
    font-size: calc(9px + 11 * (100vw - 390px) / 840);
    line-height: calc(11px + 13 * (100vw - 390px) / 840);
  }
}
@media (max-width: 767px) {
  .travel_story__content__block__paragraph {
    display: none;
  }
}

.travel_story__content__block__paragraph__sm {
  display: none;
}
@media (max-width: 767px) {
  .travel_story__content__block__paragraph__sm {
    display: block;
    font-family: "Aleo";
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #0D606F;
  }
}

.travel_story__content__block__link {
  font-family: "Aleo";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0D606F;
}
@media (max-width: 1230px) {
  .travel_story__content__block__link {
    font-size: calc(9px + 11 * (100vw - 390px) / 840);
    line-height: calc(11px + 13 * (100vw - 390px) / 840);
  }
}

.travel_strories__btn {
  margin: 0 auto 41px;
  display: flex;
  align-items: center;
  padding: 9.5px 31px;
  gap: 10px;
}
@media (max-width: 992px) {
  .travel_strories__btn {
    gap: 6px;
    padding: 7.5px 12px;
  }
}

.travel_strories__btn__text {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
@media (max-width: 992px) {
  .travel_strories__btn__text {
    font-size: 11px;
    line-height: 15px;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 45px 23px;
  transition: all 0.8s ease 0s;
}

.popup__content {
  text-align: center;
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}

.popup__title {
  font-family: Aleo;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #0D606F;
  margin: 0 0 30px 0;
}

.facebook__sign__in {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 163.5px;
  background: #1877F2;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.google__sign__in {
  display: flex;
  align-items: center;
  gap: 15.5px;
  padding: 15px 173.5px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #0D606F;
  margin-bottom: 30px;
}

.line_block {
  display: flex;
  gap: 9px;
  margin-bottom: 10px;
}
.line_block span {
  font-family: Aleo;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(13, 96, 111, 0.5);
}

.popup__label {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0D606F;
}

.popup__form {
  text-align: left;
  margin-bottom: 25px;
}

.popup__input {
  margin-top: 5px;
  max-height: 54px;
}

.firstName__input {
  margin-bottom: 20px;
}

.sign__in {
  padding: 14px 249.5px;
  font-family: "Red Hat Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  margin-bottom: 10px;
}

.forgot__password {
  font-family: Aleo;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0D606F;
}

.popup__footer {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}
.popup__footer .popup__footer__span {
  font-family: Aleo;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: rgba(13, 96, 111, 0.5);
  margin-top: 20px;
}
.popup__footer .popup__footer__span .popup__footer__span__a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0D606F;
}

body {
  font-family: Aleo;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}
@media (max-width: 1230px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  [class*=__container] {
    max-width: none;
  }
}