@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
@media (max-width: 767px) {
  .header {
    margin-top: 43px;
    background-color: transparent;
    box-shadow: none;
  }
}

.header__container {
  display: flex;
  align-items: center;
}
@media (max-width: 1230px) {
  .header__container {
    justify-content: space-between;
  }
}

.menu__list {
  display: flex;
  gap: 42px;
  margin: 35px auto 34px;
}
.menu__list .menu__link {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
@media (max-width: 1230px) {
  .menu__list {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .menu__list {
    flex-direction: column;
  }
}

.menu__item__hide {
  display: none;
}
@media (max-width: 767px) {
  .menu__item__hide {
    display: block;
  }
}

.header__button {
  margin-left: 196px;
}
@media (max-width: 1230px) {
  .header__button {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .header__button {
    display: none;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 27px;
    height: 16px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::after, .menu__icon::before {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::after, .menu__icon::before {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}

.header__logo {
  margin-right: 158px;
}
@media (max-width: 1230px) {
  .header__logo {
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .header__logo {
    flex: 0 0 30px;
    overflow: hidden;
  }
}

.btn {
  background-color: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}

.header__button {
  padding: 10px 30px;
}

.header__btn__text {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #F2785C;
    padding: 44px 15px 30px 44px;
    transition: left 0.3s ease 0s;
  }
  .menu__body.active {
    left: 0;
  }
}

.intro {
  background: url(../img/intro_bg.png) no-repeat center;
  background-size: cover;
  padding-top: 122px;
  padding-bottom: 221px;
}
@media (max-width: 767px) {
  .intro {
    background-image: url("../img/intro_bg_small.png");
    padding-top: 142px;
    padding-bottom: 61px;
  }
}

.intro__content {
  max-width: 892px;
}

.intro__heading {
  font-family: "Aleo";
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  margin-bottom: 46px;
  color: #FFFFFF;
}
@media (max-width: 1230px) {
  .intro__heading {
    font-size: 65px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .intro__heading {
    display: none;
  }
}

.intro__text {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 46px;
}
@media (max-width: 767px) {
  .intro__text {
    display: none;
  }
}

.intro__search {
  position: relative;
}

input {
  outline: none;
  height: 95px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}
@media (max-width: 767px) {
  input {
    height: 48px;
  }
}

input::-moz-placeholder {
  color: #F2785C;
  font-family: Aleo;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-left: 41px;
}

input:-ms-input-placeholder {
  color: #F2785C;
  font-family: Aleo;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-left: 41px;
}

input::placeholder {
  color: #F2785C;
  font-family: Aleo;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-left: 41px;
}
@media (max-width: 767px) {
  input::-moz-placeholder {
    font-size: 14px;
    line-height: 17px;
    padding-left: 6px;
  }
  input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 17px;
    padding-left: 6px;
  }
  input::placeholder {
    font-size: 14px;
    line-height: 17px;
    padding-left: 6px;
  }
}

.intro__btn {
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 2;
  border: none;
  cursor: pointer;
  color: white;
  transform: translateX(2px);
  padding: 13.5px 32.5px;
}
@media (max-width: 767px) {
  .intro__btn {
    top: 9px;
    right: 9px;
    padding: 7.5px 9px;
  }
}

.intro__btn__text {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .intro__btn__text {
    font-size: 11px;
    line-height: 15px;
  }
}

.perfect_trip__content {
  text-align: center;
  margin: 80px auto 97px;
}
@media (max-width: 767px) {
  .perfect_trip__content {
    margin: 20px auto 20px;
  }
}

.section__heading {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
}
@media (max-width: 767px) {
  .section__heading {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }
}

.perfect_trip__items {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media (max-width: 1230px) {
  .perfect_trip__items {
    justify-content: space-between;
  }
}

.perfect_trip__item1 {
  flex: 1 1 33.33%;
}

.perfect_trip__item2 {
  flex: 1 1 33.33%;
}

.perfect_trip__item3 {
  flex: 1 1 33.33%;
}

.perfect_trip__item__img {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .perfect_trip__item__img {
    max-width: 70px;
    max-height: 70px;
    margin-bottom: 19px;
  }
}

.perfect_trip__item__text {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}
@media (max-width: 767px) {
  .perfect_trip__item__text {
    font-size: 10px;
    line-height: 12px;
  }
}

.popular_destinations {
  padding-bottom: 80px;
}

.popular_destinations__content {
  text-align: center;
}

.popular_destinations__slider {
  margin: 46px auto 0;
}

.popular_destinations__slider__items {
  transform: translateX(-60%);
  display: flex;
  gap: 60px;
}

.popular_destinations__slider__img {
  border-radius: 16px;
}

.popular_destinations__slider__item {
  position: relative;
}

.popular_destinations__slider__text {
  position: absolute;
  z-index: 5;
  left: 15px;
  bottom: 40px;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.popular_destinations__slider__btns {
  margin: 24px auto auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.dot {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 10px;
}

.dot1, .dot2 {
  margin-right: 10px;
}

.destinations__btn__text {
  text-align: center;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.destinations__btn__text img {
  margin-right: 10px;
}

.destinations__btn {
  margin: 0 auto;
  align-items: center;
  padding: 9.5px 31px;
}

.travel_stories__container {
  text-align: center;
  z-index: 2;
}

.travel_stories {
  display: block;
  position: relative;
}
.travel_stories::after {
  content: "";
  background: url(../img/travel_bg.png) no-repeat center;
  background-size: cover;
  opacity: 0.5;
  top: 93px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.travel_stories__content {
  margin: 80px auto 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.travel_story__content__item {
  display: flex;
  gap: 40px;
}

.travel_story__content__img {
  box-shadow: 0px 4px 4px #0D606F;
  border-radius: 16px;
}

.travel_story__content__block {
  text-align: left;
}

.travel_story__content__block__heading {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
  margin-bottom: 24px;
}

.travel_story__content__block__paragraph {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.travel_story__content__block__link {
  font-family: "Aleo";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0D606F;
}

.travel_strories__btn {
  display: inline-block;
  padding: 9.5px 31px;
}

.travel_strories__btn__text {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-left: 10px;
}

body {
  font-family: Aleo;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}
@media (max-width: 1230px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  [class*=__container] {
    max-width: none;
  }
}