.popular_destinations {
    padding-bottom: 80px;
}
.popular_destinations__container {
    
}
.popular_destinations__content {
    text-align: center;

}
.section__heading {
}
.popular_destinations__slider {
    margin: 46px auto 0;
}
.popular_destinations__slider__items {
    transform: translateX(-60%);
    display: flex;
    gap: 60px;
}
.popular_destinations__slider__item1 {
}
.popular_destinations__slider__img {
    border-radius: 16px;

}
.popular_destinations__slider__item{
    position: relative;
}
.popular_destinations__slider__text {
    position: absolute;
    z-index: 5;
    left: 15px;
    bottom: 40px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}
.popular_destinations__slider__item2 {
}
.popular_destinations__slider__item3 {
}
.popular_destinations__slider__btns {
}
.popular_destinations__slider__btns{
    margin: 24px auto auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.dot{
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 10px;
}

.dot1, .dot2 {
    margin-right: 10px;
}
.destinations__btn__text{
    text-align: center;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    img{
        margin-right: 10px;
    }
}
.destinations__btn{
    margin: 0 auto;
    align-items: center;
    padding: 9.5px 31px;
}